@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,501,700,900&display=swap");
@import url('https://api.fontshare.com/v2/css?f[]=ranade@300,301,400,401,500,501,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';


body{
    background-color: #0f172a;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.renade-regular{
    font-family: 'Ranade', sans-serif;
    font-weight: 400;
}

.renade-bold{
    font-family: 'Ranade', sans-serif;
    font-weight: 700;
}

.renade-medium{
    font-family: 'Ranade', sans-serif;
    font-weight: 500;
}

.satoshi-regular{
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
}

.satoshi-medium{
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
}
.satoshi-bold{
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
}


@layer base {
  @apply font-sans text-gray-800;
}



@keyframes rise {
    0% {
      transform: translateY(0) translateX(0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 0.3;
    }
    100% {
      transform: translateY(-120vh) translateX({() => (Math.random() > 0.5 ? '' : '-') + Math.random() * 100}px);
      opacity: 0;
    }
}









